*.bak.*
*.local.json
*.log
.agent/.actors/
.agent/.cache/
scheduled_tasks.lock
.cache/
.claude/scheduled_tasks.lock
bin/
*.tsbuildinfo
.artifact
.env
.review/
.review-eval/
.rhachet
.scratch/
.serverless
.temp
.slowtest/integration.report.json
.terraform
.terraform.lock
.vscode
.yalc
coverage
dist
node_modules
