*.bak.*
*.local.json
*.log
.agent/.cache/
bin/
*.tsbuildinfo
.artifact
.env
.rhachet
.serverless
.temp
.slowtest/integration.report.json
.terraform
.terraform.lock
.vscode
.yalc
coverage
dist
node_modules
